	{%if message %}
		{%for msg in message %}
			<h2>{{ msg }}</h2>
		{%endfor%}
	{%endif%}

	{%if  not fatal %}
		<h2>
			Account: {{ account_name }}
			{%if not account_isIndividual %}
				<a href="{{ USERSROOTURL }}/edit_account.php" class="btn btn-mini"><i class="icon-pencil"></i> edit</a>
			{%endif%}
		</h2>
		{%if account_isIndividual %}
			<p>
				<form action="{{ USERSROOTURL }}/controller/account.php" method="POST">
					<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>
					Individual accout
					{%if user %}
						for <i class="icon-user"></i> {{ user.name }}
					{%endif%}
				</form>
			</p>
		{%endif%}
		<p>
			Status: {%if account_isActive %}<b class="badge badge-success">Active</b>{%else%}<b class="badge badge-important">Suspended</b>{%endif%}
			Plan:
				{% if planIsSet %}
					<span class="badge badge-info"><i class="icon-briefcase icon-white"></i> {{ plan_name }}</span>
				{% else %}
					<span class="badge badge-important">NONE</span>
				{% endif %}
		</p>

		{%if show_user_list %}
			<h3>Account Users</h3>
			{%if account_isIndividual %}
				{%if individual_no_admins %}
					<p class="alert alert-error">Attention, individual account has no admin user set</p>
				{%else%}
					<p class="alert alert-error">Attention, multiple users are defined for an individual account</p>
				{%endif%}
			{%endif%}

			<form action="{{ USERSROOTURL }}/controller/account/account.php" method="POST">
				<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>

				<table class="table table-condensed">
				{%for user in users %}
					<tr>
						<td>
							<i class="icon-user"></i>
							{{ user.name }}
						</td>
						<td>
							{%if user.admin %}
								<span class="badge badge-important pull-right">admin</span>
							{%else%}
								<span class="badge pull-right">user</span>
							{%endif%}
						</td>

						{%if user.self %}
						<td colspan="2" class="startupapi-user-self" title="You can't change your info, ask another admin to help you.">it's you</td>
						{%else%}
							<td>
								{%if user.admin %}
									<button class="btn btn-mini btn-danger{%if user.self %} disabled{%endif%}" name="demote_user" value="{{ user.id }}">
										<i class="icon-chevron-down icon-white"></i> Demote
									</button>
								{%else%}
									<button class="btn btn-mini{%if user.self %} disabled{%endif%}" name="promote_user" value="{{ user.id }}">
										<i class="icon-chevron-up"></i> Promote
									</button>
								{%endif%}
							</td>
							<td>
								<button class="btn btn-mini pull-right remove_button" name="remove_user" value="{{ user.id }}"><i class="icon-remove"></i> Remove</button>
							</td>
						{%endif%}
					</tr>
				{%endfor%}
				</table>
				<script>
					$('.remove_button').on('click', function() {
						 return confirm('Are you sure you want to remove this user?');
					});
				</script>

			</form>

			{#
			{%if not account_isIndividual %}
				<h3>Invite a user</h3>
				<form class="form-horizontal" action="{{ USERSROOTURL }}/controller/account/account.php" method="POST">
					<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>

					<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input class="input-large" type="email" placeholder="Email address" name="invite-emails"/>
					</div>

					<button class="btn btn-primary"> Send Invitation</button>
				</form>
			{%endif%}
			#}
		{%endif%}
{%endif%}