<html>
	<head><title>Logging out from Facebook...</title></head>
	<body>
		<div id="fb-root"></div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			// force logout sequence after a long timeout of 5 seconds
			setTimeout('window.location.href = "{{UserConfig.USERSROOTFULLURL}}/logout.php?autologgedout={{slug}}"', 5000);

			window.fbAsyncInit = function() {
				FB.init({
					appId  : '{{appID}}',
					cookie : true, // enable cookies to allow the server to access the session
					version : 'v2.9'
				});
				FB.getLoginStatus(function(response) {
					if (response.authResponse) {
						FB.logout(function(response) {
							window.location.href = "{{UserConfig.USERSROOTFULLURL}}/logout.php?autologgedout={{slug}}";
						});
					} else {
						window.location.href = "{{UserConfig.USERSROOTFULLURL}}/logout.php?autologgedout={{slug}}";
					}
				});
			};

			(function(d, s, id){
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		Logging out from Facebook...
	</body>
</html>
