<form action="{{action}}" method="POST" name="facebookusereditform">
	<div class="panel {% if errors %}panel-danger{% else %}panel-success{% endif %}">
		<a name="{{ module.id }}"></a>
		<div class="panel-heading">
			<button class="btn btn-xs btn-danger pull-right" type="submit" name="remove">
				<span class="glyphicon glyphicon-remove"></span>
				Disconnect
			</button>
		{{module.title}}
		</div>
		<div class="panel-body">
			<div class="media">
				<a class="media-left" href="{{me.link}}" target="_blank">
					<img src="http://graph.facebook.com/{{fb_id}}/picture" style="border: 0; max-width: 100px; max-height: 100px" title="{{me.name}}">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><a href="{{me.link}}" target="_blank">{{me.name}}</a></h4>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="save" value="Save &gt;&gt;&gt;"/>
	<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
</form>
