{% import '@startupapi/error_messages.html.twig' as ERR %}
<form class="form-horizontal" action="{{action}}" method="POST">
	<fieldset>
		<legend>Update your name and email</legend>

		<div class="control-group{{ ERR.group(slug, 'name', errors) }}">
			<label class="control-label" for="startupapi-{{slug}}-edit-name">Name</label>
			<div class="controls">
				<input class="input-xlarge" id="startupapi-{{slug}}-edit-name" name="name" type="text" value="{% if 'name' in data|keys %}{{ data.name }}{% else %}{{AUTH.current_user.name}}{% endif %}"/>
			</div>
		</div>

		<div class="control-group{{ ERR.group(slug, 'email', errors) }}">
			<label class="control-label" for="startupapi-{{slug}}-edit-email">Email</label>
			<div class="controls">
				<input class="input-xlarge" id="startupapi-{{slug}}-edit-email" name="email" type="email" value="{% if 'email' in data|keys %}{{ data.email }}{% else %}{{AUTH.current_user.email}}{% endif %}"/>
				{% if AUTH.current_user.email and not AUTH.current_user.is_email_verified %}
				<a id="startupapi-{{slug}}-edit-verify-email" href="{{UserConfig.USERSROOTURL}}/verify_email.php">
					Email address is not verified yet, click here to verify
				</a>
				{% endif %}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" type="submit" name="save">Save</button>
			</div>
		</div>
	</fieldset>
	<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
</form>
