{% extends '@startupapi/page_with_sidebar.html.twig' %}

{% block content %}
	<script>
		STARTUPAPI.showMessages({
			"user-removed": { 'class': 'success', 'text': 'User removed'},
			"user-promoted": { 'class': 'success', 'text': 'User successfully promoted'},
			"user-demoted": { 'class': 'success', 'text': 'User successfully demoted'},
			"updated": { 'class': 'success', 'text': 'Account name updated'},
		});
	</script>

	{%if not fatal %}
		<legend>
			Accounts / <b>{{ account_name }}</b>
			{%if account_isAdmin and not account_isIndividual %}
				<a href="{{UserConfig.USERSROOTURL}}/edit_account.php" class="btn btn-mini"><i class="icon-pencil"></i> edit</a>
			{%endif%}
		</legend>
		{%if account_isIndividual %}
			<p>
				<form action="{{UserConfig.USERSROOTURL}}/controller/account.php" method="POST">
					<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
					Individual account
					{%if user %}
						for <i class="icon-user"></i> {{ user.name }}
					{%endif%}
				</form>
			</p>
		{%endif%}

		{%if account_isAdmin %}
		<p>
			Status: {%if account_isActive %}<b class="badge badge-success">Active</b>{%else%}<b class="badge badge-important">Suspended</b>{%endif%}
			Plan:
				{% if planIsSet %}
					<span class="badge badge-info"><i class="icon-briefcase icon-white"></i> {{ plan_name }}</span>
				{% else %}
					<span class="badge badge-important">NONE</span>
				{% endif %}
		</p>
		{% if UserConfig.useSubscriptions %}
			<p>
				<a class="btn btn-mini" href="{{UserConfig.USERSROOTURL}}/subscription_details.php">
					<i class="icon-list"></i>
					Subscription details
				</a>
			</p>
			{%endif%}
		{%endif%}

		{%if show_user_list %}
			{%if account_isAdmin %}
				<h3>Account Users</h3>
				{%if account_isIndividual %}
					{%if individual_no_admins %}
						<p class="alert alert-error">Attention, individual account has no admin user set</p>
					{%else%}
						<p class="alert alert-error">Attention, multiple users are defined for an individual account</p>
					{%endif%}
				{%endif%}

				<form action="{{UserConfig.USERSROOTURL}}/controller/account/account.php" method="POST">
					<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>

					<table class="table table-condensed">
					{%for user in users %}
						<tr>
							<td>
								<i class="icon-user"></i>
								{{ user.name }}
							</td>
							<td>
								{%if user.admin %}
									<span class="badge badge-important pull-right">admin</span>
								{%else%}
									<span class="badge pull-right">user</span>
								{%endif%}
							</td>

							{%if user.self %}
							<td colspan="2" class="startupapi-user-self" title="You can't change your info, ask another admin to help you.">it's you</td>
							{%else%}
								<td>
									{%if user.admin %}
										<button class="btn btn-mini btn-danger{%if user.self %} disabled{%endif%}" name="demote_user" value="{{ user.id }}">
											<i class="icon-chevron-down icon-white"></i> Demote
										</button>
									{%else%}
										<button class="btn btn-mini{%if user.self %} disabled{%endif%}" name="promote_user" value="{{ user.id }}">
											<i class="icon-chevron-up"></i> Promote
										</button>
									{%endif%}
								</td>
								<td>
									<button class="btn btn-mini pull-right remove_button" name="remove_user" value="{{ user.id }}"><i class="icon-remove"></i> Remove</button>
								</td>
							{%endif%}
						</tr>
					{%endfor%}
					</table>
					{%if not account_isIndividual %}
						<a class="btn btn-mini" href="{{UserConfig.USERSROOTURL}}/invitations.php?joinaccount=yes"><i class="icon-plus"></i> Invite more users</a>
					{%endif%}
					<script>
						$('.remove_button').on('click', function() {
							 return confirm('Are you sure you want to remove this user?');
						});
					</script>
				</form>
			{%else%}
				<h3>Administrators</h3>
				{%for user in users %}
					{%if user.admin %}
						<div>
							<i class="icon-user"></i>
							{{ user.name }}
						</div>
					{%endif%}
				{%endfor%}
			{%endif%}
		{%endif%}
	{%endif%}
{% endblock %}
