{% if form == 'login' %}
	{% set formsubmit = 'login' %}
{% elseif form == 'register' %}
	{% set formsubmit = 'register' %}
{% elseif form == 'connect' %}
	{% set formsubmit = 'save' %}
{% endif %}

<div id="fb-root"></div>

{% if show_facepile and form == 'register' %}
	<fb:facepile width="450" size="large" max-rows="1"></fb:facepile>
{% endif %}
<form style="margin: 0" action="{{action}}" method="POST" name="facebookconnectform">
<input type="hidden" name="{{formsubmit}}" value="Connect &gt;&gt;&gt;"/>
<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
</form>
{% if form == 'register' and PAGE.TOSlinks %}
	{{PAGE.TOSlinks|raw}}
{% endif %}
<a class="startupapi-fb-connect" href="#" onclick="UserBaseFBConnectButtonClicked(); return false;">
	{% if form == 'login' %}
		<img src="{{UserConfig.USERSROOTURL}}/modules/facebook/login_with_facebook.png" width="309" height="50" alt="Login with Facebook button" title="Login with Facebook"/>
	{% elseif form == 'register' %}
		<img src="{{UserConfig.USERSROOTURL}}/modules/facebook/continue_with_facebook.png" width="309" height="50" alt="Continue with Facebook button" title="Quick Sign-up using Facebook"/>
	{% elseif form == 'connect' %}
		<img src="{{UserConfig.USERSROOTURL}}/modules/facebook/connect_with_facebook.png" width="309" height="50" alt="Connect with Facebook button" title="Connect to your Facebook Account"/>
	{% endif %}
</a>

<script>
	var UserBaseFBFormType = {{form|json_encode|raw}};

	var UserBaseFBConnectButtonClicked = function() {
		// FB is not loaded yet
	};

	window.fbAsyncInit = function() {
		// permissions required by this instance of UserBase
		var required_perms = {{permissions|json_encode|raw}};
		var required_perms_string = {{permissions_string|json_encode|raw}};

		FB.init({
			appId  : '{{appID}}',
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			oauth  : true, // enable OAuth 2.0
			xfbml  : true, // parse XFBML
			channelURL : '{{UserConfig.USERSROOTFULLURL}}/modules/facebook/channel.php' // channel file
		});

		// Auto-login if user is connected already
		FB.getLoginStatus(function(r) {
			if(r.status === 'connected') {
				// if permissions are not required, submit the form now
				if (required_perms.length === 0) {
					document.facebookconnectform.submit();
					return;
				}

				FB.api('/me/permissions', function(response) {
					if (response && response.data && response.data.length > 0) {
						var perms = response.data[0];

						var i = required_perms.length;
						while (i--) {
							// do not submit form if at least one
							// required permission is not found
							if (perms[required_perms[i]] !== 1) {
								return;
							}
						}

						document.facebookconnectform.submit();
						return;
					}
				});

			}
		});

		// when button is clicked popu-up a dialog
		UserBaseFBConnectButtonClicked = function() {
			// it will only have 'connected' status if permissions match
			FB.login(function(response) {
				if (response.status === 'connected') {
					document.facebookconnectform.submit();
					return;
				}
			}, {scope: required_perms_string});
		};
	};

	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());

</script>
