<a href="http://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a><br/>
<a href="http://twitter.com/{{screen_name}}" target="_blank"><img src="{{profile_image_url}}" title="{{name}} (@{{screen_name}})" style="max-width: 60px; max-height: 60px"/></a>
