{% extends '@startupapi/page_with_sidebar.html.twig' %}
{% import '@startupapi/error_messages.html.twig' as ERR %}

{% block content %}
<div>
	{% if not current_module %}
		<legend>Profile Information</legend>

		{{ ERR.showErrors('profile-info', errors) }}

		<form class="form-horizontal" action="" method="POST">
			<fieldset>
				<div class="control-group{% if 'name' in errors['profile-info']|keys %} error" title="{{ errors['profile-info']['name']|join("\n")}}{% endif %}">
					<label class="control-label" for="startupapi-profile-info-edit-name">Name</label>
					<div class="controls">
						<input id="startupapi-profile-info-edit-name" name="name" type="text" value="{% if 'name' in data|keys %}{{ data.name }}{% else %}{{AUTH.current_user.name}}{% endif %}"/>
					</div>
				</div>

				<div class="control-group{% if 'email' in errors['profile-info']|keys %} error" title="{{ errors['profile-info']['email']|join("\n")}}{% endif %}">
					<label class="control-label" for="startupapi-profile-info-edit-email">Email</label>
					<div class="controls">
						<input id="startupapi-profile-info-edit-email" name="email" type="email" value="{% if 'email' in data|keys %}{{ data.email }}{% else %}{{AUTH.current_user.email}}{% endif %}"/>
						{% if AUTH.current_user.email and not AUTH.current_user.is_email_verified %}
							<a id="startupapi-usernamepass-edit-verify-email" href="{{ UserConfig.USERSROOTURL }}/verify_email.php">
								Email address is not verified yet, click here to verify
							</a>
						{% endif %}
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button class="btn btn-primary" type="submit" name="save">Save changes</button>
					</div>
				</div>
			</fieldset>

			<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
		</form>
	{% else %}
		{% if compact_page %}
			<legend>Connect other accounts</legend>
		{% endif %}

		{% for module in UserConfig.authentication_modules if compact_page and module.is_compact or not compact_page and module.id == current_module.id %}
			{{ ERR.showErrors(module.id, errors) }}

			<div>
				<a name="{{ module.id }}"></a>
				<div style="margin-bottom: 2em">
					{{ module_forms[module.id]|raw }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
