{% extends 'page.html.twig' %}

{% block base %}
<div class="container-fluid" style="margin-top: 1em">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav startupapi-sidebar">
				<ul class="nav nav-list">
					<li{% if PAGE.SECTION == 'profile_info'%} class="active"{% endif %}>
						<a href="{{ UserConfig.USERSROOTURL }}/edit.php">Profile Information</a>
					</li>
					<li class="nav-header">Login</li>
					{% for module in UserConfig.authentication_modules%}
						<li{% if PAGE.SECTION == 'login_' ~ module.id %} class="active"{% endif %}>
							<a href="{{ UserConfig.USERSROOTURL }}/edit.php?module={{ module.id }}">
								{{ module.title }}
							</a>
						</li>
					{% endfor %}

					{% if UserConfig.enableUserInvitations %}
						<li class="nav-header">Connections</li>
						<li{% if PAGE.SECTION == 'invitations'%} class="active"{% endif %}>
							<a href="{{ UserConfig.USERSROOTURL }}/invitations.php">{{ UserConfig.userInvitationSectionTitle }}</a>
						</li>
					{% endif %}

					<li class="nav-header">My Account</li>
					<li{% if PAGE.SECTION == 'account'%} class="active"{% endif %}>
						<a href="{{ UserConfig.USERSROOTURL }}/manage_account.php">
							{{ AUTH.current_account.name }}
						</a>
					</li>
					{% if UserConfig.useSubscriptions %}
					<li{% if PAGE.SECTION == 'subscription_details' %} class="active"{% endif %}>
						<a href="{{ UserConfig.USERSROOTURL }}/subscription_details.php">
							Subscription Details
						</a>
					</li>
					<li{% if PAGE.SECTION == 'transaction_log'%} class="active"{% endif %}>
						<a href="{{ UserConfig.USERSROOTURL }}/transaction_log.php">
							Transaction Log
						</a>
					</li>
					{% endif %}
					
					{% if UserConfig.enableGamification %}
						<li class="nav-header">My achievements</li>
						<li{% if PAGE.SECTION == 'badges' %} class="active"{% endif %}>
							<a href="{{ UserConfig.USERSROOTURL }}/badges.php">Badges</a>
						</li>
					{% endif %}

					{% if UserConfig.maillist_exists %}
						<li class="nav-header">Email preferences</li>
						<li{% if PAGE.SECTION == 'maillist'%} class="active"{% endif %}>
							<a href="{{ UserConfig.USERSROOTURL }}/maillist.php">Email preferences</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="span9">
			<div id="startupapi-message" class="hide">
				<div class="alert alert-block hide">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<div id="startupapi-message_copy"></div>
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}