<div class="span9">
{% if message %}
	{% for msg in message %}
		<h2>{{ msg }}</h2>
	{% endfor %}
{% endif %}
{% if  not fatal %}
	<h2>Account: {{ account_name }} <a href="edit_account.php?id={{ account_id }}" class="btn btn-mini"><i
					class="icon-pencil"></i> edit</a></h2>
	{% if account_isIndividual %}
		<p>
		<form action="{{ USERSROOTURL }}/admin/account.php?id={{ account_id }}" method="POST">
			<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>
			Individual accout
			{% if user %}
				for <i class="icon-user"></i> <a
					href="{{ USERSROOTURL }}/admin/user.php?id={{ user.id }}"{% if user.disabled %} style="color: silver; text-decoration: line-through"{% endif %}>{{ user.name }}</a>
				<button class="btn btn-mini" name="remove_user" value="{{ user.id }}"><i class="icon-remove"></i>
				</button>
			{% else %}
				<a class="btn btn-mini btn-danger"
				   href="add_account_users.php?account_id={{ account_id }}&action=set_admin"><i
							class="icon-plus icon-white"></i> <i class="icon-user icon-white"></i> Set Admin</a>
			{% endif %}
		</form>
		</p>
	{% endif %}
	<p>
		Status: {% if account_isActive %}<b class="badge badge-success">Active</b>{% else %}<b
				class="badge badge-important">Suspended</b>{% endif %}
		Current Plan:
			{% if planIsSet %}
				<a class="badge badge-info" href="plan.php?slug={{ plan_slug }}">
					<i class="icon-briefcase icon-white"></i> {{ plan_name }}
				</a>
			{% else %}
				<span class="badge badge-important">NONE</span>
			{% endif %}
	</p>

	<p>
		<div>
			{% if balance < 0 %}
				<p>Amount owed</p>
				<ul>
					{% set total = 0 %}
					{% for c in charges %}
						<li>{{ c.datetime }} ${{ c.amount }}</li>
						{% set total = total + c.amount %}
					{% endfor %}
				</ul>
				<p>Total debt: <b>${{ "%.2f"|format(total) }}</b></p>
			{% else %}
				<p>Balance: <b>${{ "%.2f"|format(balance) }}</b></p>
			{% endif %}
		</div>

		<div>
			<i class="icon-list-alt"></i> <a
					href="{{ USERSROOTURL }}/admin/transaction_log.php?account_id={{ account_id }}">View account
				transaction log</a>
		</div>
	</p>

	{% if useSubscriptions and planIsSet and schedule_name %}
		<h3>Subscriptions</h3>

		{% if plan_downgrade_to %}
			<p>Plan automatically downgrades to: <a class="label"
			                                        href="plan.php?slug={{ plan_downgrade_to_slug }}">{{ plan_downgrade_to }}</a>
				if payment is due more than {{ plan_grace_period }} day(s)</p>
		{% endif %}

		{% if schedule_name %}
			<div class="well">
				{% if next_plan_name and next_plan_name != plan_name or next_schedule %}
					<h4>Current Subscription</h4>
					{% if next_plan_name and next_plan_name != plan_name or next_schedule %}
						<p><span class="badge badge-warning">until {{ account_next_charge }}</span></p>
					{% endif %}
				{% endif %}

				{% if next_plan_name and next_plan_name != plan_name %}
					<p>Plan Name:
						<a class="badge badge-info" href="plan.php?slug={{ plan_slug }}">
							<i class="icon-briefcase icon-white"></i> {{ plan_name }}
						</a>
					</p>

					<p>Plan Description: {{ plan_description }}</p>

					{% if plan_details_url %}
						<p>Plan Details: <a href="{{ plan_details_url }}">{{ plan_details_url }}</a></p>
					{% endif %}
				{% endif %}

				<p>Payment Schedule: <b>{{ schedule_name }}</b> ({{ schedule_description }})</p>
				<p>Charge Amount: <b>${{ schedule_charge_amount }}</b></p>
				<p>Charge Period: <b>{{ schedule_charge_period }}</b> days</p>
				<p>Payment Engine: <b>{{ account_engine }}</b></p>

				{% if account_next_charge %}
					<div>
						{% if next_plan_name and next_plan_name != plan_name or next_schedule %}
						{% else %}
							<p>Next charge: <b>{{ account_next_charge }}</b></p>
						{% endif %}
					</div>
				{% endif %}
			</div>

			{% if next_plan_name and next_plan_name != plan_name or next_schedule %}
				<div class="well">
					<h4>Next Subscription</h4>
					<p><span class="badge badge-success">starting {{ account_next_charge }}</span></p>

					{% if next_plan_name and next_plan_name != plan_name %}
						<p>Plan Name:
							<a class="badge badge-info" href="plan.php?slug={{ next_plan_slug }}">
								<i class="icon-briefcase icon-white"></i> {{ next_plan_name }}
							</a>
						</p>

						<p>Plan Description: {{ next_plan_description }}</p>

						{% if next_plan_details_url %}
							<p>Plan Details: <a href="{{ next_plan_details_url }}">{{ next_plan_details_url }}</a></p>
						{% endif %}
					{% endif %}

					{% if next_schedule %}
						<p>Payment Schedule: <b>{{ next_schedule_name }}</b> ({{ next_schedule_description }})</p>
						<p>Charge Amount: <b>${{ next_schedule_charge_amount }}</b></p>
						<p>Charge Period: <b>{{ next_schedule_charge_period }}</b> days</p>
						<p>Payment Engine: <b>{{ next_account_engine }}</b></p>
					{% endif %}
				</div>
			{% endif %}

		{% endif %}

	{% endif %}

	{% if show_user_list %}
		<h3>Account Users:</h3>
		{% if account_isIndividual %}
			{% if individual_no_admins %}
				<p class="alert alert-error">Attention, individual account has no admin user set</p>
			{% else %}
				<p class="alert alert-error">Attention, multiple users are defined for an individual account</p>
			{% endif %}
		{% endif %}

		<form action="{{ USERSROOTURL }}/admin/account.php?id={{ account_id }}" method="POST">
			<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>

			<table class="table table-condensed">
				{% for user in users %}
					<tr>
						<td>
							<i class="icon-user"></i>
							<a href="{{ USERSROOTURL }}/admin/user.php?id={{ user.id }}"{% if user.disabled %}
								style="color: silver; text-decoration: line-through"{% endif %}>{{ user.name }}</a>
						</td>
						<td>
							{% if user.admin %}
								<span class="badge badge-important pull-right">admin</span>
							{% else %}
								<span class="badge pull-right">user</span>
							{% endif %}
						</td>
						<td>
							{% if user.admin %}
								<button class="btn btn-mini btn-danger" name="demote_user" value="{{ user.id }}">
									<i class="icon-chevron-down icon-white"></i> Demote
								</button>
							{% else %}
								<button class="btn btn-mini" name="promote_user" value="{{ user.id }}">
									<i class="icon-chevron-up"></i> Promote
								</button>
							{% endif %}
						</td>
						<td>
							<button class="btn btn-mini pull-right" name="remove_user" value="{{ user.id }}"><i
										class="icon-remove"></i></button>
						</td>
					</tr>
				{% endfor %}
			</table>
		</form>

		{% if not account_isIndividual %}
			<p><a class="btn btn-mini" href="add_account_users.php?account_id={{ account_id }}"><i
							class="icon-plus"></i><i class="icon-user"></i> Add Users</a></p>
		{% endif %}
	{% endif %}

	{% if features %}
		<h3>Features</h3>
		<form class="form" action="{{ USERSROOTURL }}/admin/account.php?id={{ account_id }}"
		      method="POST">
			{% for feature in features %}
				<div
						{% if feature.shut_down %}
							style="color: red; text-decoration: line-through"
							title="Feature is shut down due to emergency"
						{% else %}
							{% if not feature.enabled %}
								style="color: grey; text-decoration: line-through"
								title="Feature is disabled"
							{% endif %}
						{% endif %}
						>
					<label class="checkbox">
						<input id="feature_{{ feature.id }}"
						       type="checkbox"
						       name="feature[{{ feature.id }}]"
								{% if feature.is_checked %}
									checked="true"
								{% endif %}
								{% if feature.disable_editing %}
									disabled="disabled"
								{% endif %}
								/>
						{% if feature.disable_editing and feature.enabled_for_account %}
							<input type="hidden" name="feature[{{ feature.id }}]" value="true"/>
						{% endif %}
						{{ feature.name }}
						{% if feature.enabled and feature.rolled_out_to_all %}
							(Rolled out to all users)
						{% endif %}
						{% if feature.enabled and not feature.rolled_out_to_all and feature.enabled_for_plan %}
							(Enabled by <a href="plan.php?slug={{ plan_slug }}">subscription plan</a>)
						{% endif %}
					</label>
				</div>
			{% endfor %}

			<input class="btn"
			       type="submit"
			       name="savefeatures"
			       value="update features"
					{% if not has_features_to_save %}
						disabled="disabled"
					{% endif %}
					/>
			<input type="hidden" name="CSRF_NONCE" value="{{ CSRF_NONCE }}"/>
		</form>
	{% endif %}
{% endif %}
</div>
