<a href="http://github.com/{{login}}" target="_blank">@{{login}}</a><br/>
<a href="http://github.com/{{login}}" target="_blank"><img src="{{avatar_url}}" title="{{name}}" style="max-width: 60px; max-height: 60px"/></a>
		