<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}Users - {{UserConfig.appName}}{% endblock %}</title>
	{% include '@startupapi/head_tag.html.twig' %}
</head>
<body>
{% include '@startupapi/power_strip.html.twig' %}
<!-- header ends -->

{% block base %}
	<div id="startupapi-message" style="display: none">
		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div id="startupapi-message_copy"></div>
		</div>
	</div>
	{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
<!-- footer starts -->
<footer class="footer navbar {% if POWERSTRIP.inverted_navbar %}navbar-inverse{% else %}navbar-default{% endif %}">
	<div class="container">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="http://www.startupapi.com/" target="_blank">
					<img class="startupapi-logo" width="20" height="20" hspace="5" src="{{ UserConfig.USERSROOTURL }}/images/header_icon.png"/>
					Powered by Startup API
				</a>
			</li>
		</ul>
		{% if UserConfig.appName %}
			<ul class="nav navbar-nav">
				<li>
					<a href="{{UserConfig.SITEROOTURL}}">
						{{PAGE.YEAR}} &copy;
						{{UserConfig.appName}}
					</a>
				</li>
			</ul>
		{% endif %}
	</div>
</footer>
<!-- footer ends -->
{% endblock %}

</body>
</html>
