{% extends 'page_with_sidebar.html.twig' %}

{% block content %}
<div class="page-header">
	<h1><a href="badges.php">My Badges</a></h1>
</div>

<img class="startupapi-badge-large" src="{{url}}" title="{{title}}" width="{{UserConfig.badgeLargeSize}}" height="{{UserConfig.badgeLargeSize}}"/>

<h2>{{title}}</h2>
<p>{{description}}</p>
<p class="startupapi-badge-call-to-action">{{call_to_action}}</p>
{% endblock %}