<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{UserConfig.appName}}{% endblock %}</title>
	{% include '@startupapi/head_tag.html.twig' %}
	{% block head %}{% endblock %}
</head>
<body>

<!-- NAVBAR START -->
<!-- Use "fixed-top" to stick the navbar to the top of the page -->
<nav class="navbar navbar-expand-lg {% if POWERSTRIP.inverted_navbar %} navbar-dark bg-dark{% else %} navbar-light bg-light{% endif %}">
	<a class="navbar-brand" href="{{ UserConfig.SITEROOTURL }}">
	{% if UserConfig.appIconURL %}
		<img class="startupapi-logo d-inline-block align-middle" width="30" height="30" src="{{ UserConfig.appIconURL }}" />
	{% else %}
		<img class="startupapi-logo d-inline-block align-middle" width="30" height="30" src="{{ UserConfig.USERSROOTURL }}/images/header_icon.png" />
	{% endif %}

	{% if UserConfig.appName %}
		{{" "}}{{UserConfig.appName}}
	{% endif %}
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% for link in PAGE.navigationlinks %}
				<li class="nav-item" {% if link.id %} id="{{ link.id }}"{% endif %}>
					<a class="nav-link" href="{{ link.url }}"
						{% if link.title %}
							title="{{ link.title }}"
						{% endif %}
						{% if link.target %}
							target="{{ link.target }}"
						{% endif %}
					>{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>

		{% include '@startupapi/power_strip.html.twig' %}
	</div>
</nav>
<!-- NAVBAR END -->
<!-- header ends -->

{% block base %}
	{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
<!-- footer starts -->
<footer class="footer navbar navbar-expand-lg {% if POWERSTRIP.inverted_navbar %} navbar-dark bg-dark{% else %} navbar-light bg-light{% endif %}">
	<div class="container-fluid">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="http://www.startupapi.com/" target="_blank">
					<img class="startupapi-logo" width="20" height="20" hspace="5" src="{{ UserConfig.USERSROOTURL }}/images/header_icon.png" title="Powered by Startup API"/>
					<span class="startupapi-poweredby">
						Powered by Startup API
					</span>
				</a>
			</li>
		</ul>

		{% if UserConfig.appName %}
			<ul class="navbar-nav d-flex justify-content-end">
				<li class="nav-item">
					<a class="nav-link" href="{{UserConfig.SITEROOTURL}}">
						{{PAGE.YEAR}} &copy;
						{{UserConfig.appName}}
					</a>
				</li>
			</ul>
		{% endif %}
	</div>
</footer>
<!-- footer ends -->
{% endblock %}

</body>
</html>
