{% extends 'page.html.twig' %}
{% import 'error_messages.html.twig' as ERR %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="page-header">
			<h1>Password reset</h1>
		</div>

		{{ ERR.showModuleErrors(slug, errors) }}

		<form class="form-horizontal" id="startupapi-passwordreset-form" action="" method="POST">
			<p>Please enter new password</p>
			<div class="form-group{% if 'pass' in errors|keys %} has-error" title="{{ errors['pass']|join("\n")}}{% endif %}">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"  for="startupapi-{{slug}}-pass">New password</label>
				<div class="col-sm-7 col-md-6 col-lg-4">
					<input class="form-control" id="startupapi-{{slug}}-pass"name="pass" type="password" size="25" autocomplete="off"/>
				</div>
			</div>
			<div class="form-group{% if 'repeatpass' in errors|keys %} has-error" title="{{ errors['repeatpass']|join("\n")}}{% endif %}">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"  for="startupapi-{{slug}}-repeatpass">Repeat new password</label>
				<div class="col-sm-7 col-md-6 col-lg-4">
					<input class="form-control" id="startupapi-{{slug}}-repeatpass" name="repeatpass" type="password" size="25" autocomplete="off"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-7 col-md-6 col-lg-4">
					<button  class="btn btn-default" id="startupapi-passwordreset-button" type="submit" name="save">Save changes</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}