{% import '@startupapi/error_messages.html.twig' as ERR %}
<form class="form-horizontal" action="{{action}}" method="POST">
	<fieldset>
		<legend>Update your username and password</legend>
		<div class="control-group{{ ERR.group(slug, 'username', errors) }}">
			<label class="control-label" for="startupapi-{{slug}}-edit-username">Username</label>
			<div class="controls">
				{% if AUTH.current_user.username %}
					<input disabled="disabled" class="input" type="text" title="Sorry, you can't change your username" value="{{AUTH.current_user.username}}"/>
				{% else %}
					<input id="startupapi-{{slug}}-edit-username" name="username" type="text" required="true" value="{% if 'username' in data|keys %}{{ data.username }}{% else %}{{AUTH.current_user.username}}{% endif %}"/>
				{% endif %}
			</div>
		</div>

		<legend>Change password</legend>

		{% if AUTH.current_user.username %}
			<div class="control-group{{ ERR.group(slug, 'currentpass', errors) }}">
				<label class="control-label" for="startupapi-{{slug}}-edit-currentpass">Current password</label>
				<div class="controls">
					<input id="startupapi-{{slug}}-edit-currentpass" name="currentpass" type="password" autocomplete="off"/>
				</div>
			</div>
		{% endif %}
		<div class="control-group{{ ERR.group(slug, 'pass', errors) }}">
			<label class="control-label" for="startupapi-{{slug}}-edit-pass">
				{% if AUTH.current_user.username %}
				New
				{% else %}
				Set a
				{% endif %}
				password
			</label>
			<div class="controls">
				<input id="startupapi-{{slug}}-edit-pass" name="pass" type="password" autocomplete="off"/>
			</div>
		</div>
		<div class="control-group{{ ERR.group(slug, 'repeatpass', errors) }}">
			<label class="control-label" for="startupapi-{{slug}}-edit-repeatpass">Repeat new password</label>
			<div class="controls">
				<input id="startupapi-{{slug}}-edit-repeatpass" name="repeatpass" type="password" autocomplete="off"/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" type="submit" name="save">Save changes</button>
			</div>
		</div>
	</fieldset>
	<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
</form>
