<div class="media">
	<a class="media-left" href="http://twitter.com/{{screen_name}}" target="_blank">
		<img src="{{profile_image_url}}" title="{{name}} (@{{screen_name}})" style="max-width: 60px; max-height: 60px"/>
	</a>
	<div class="media-body">
		<h4 class="media-heading">
			<a href="http://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a>
		</h4>
	</div>
</div>