{% import '@startupapi/error_messages.html.twig' as ERR %}
<div class="page-header">
	<h1>Update your name and email</h1>
</div>

{{ ERR.showErrors(slug, errors) }}

<form class="form-horizontal" action="{{action}}" method="POST">
	<div class="form-group{{ ERR.group(slug, 'name', errors) }}">
		<label class="col-sm-1 control-label" for="startupapi-{{slug}}-name">Name</label>
		<div class="col-sm-8 col-md-7 col-lg-5">
			<input class="form-control" required id="startupapi-{{slug}}-name" name="name" type="text" value="{% if 'name' in data|keys %}{{ data.name }}{% else %}{{AUTH.current_user.name}}{% endif %}"/>
		</div>
	</div>

	<div class="form-group{{ ERR.group(slug, 'email', errors) }}">
		<label class="col-sm-1 control-label" for="startupapi-{{slug}}-email">Email</label>
		<div class="col-sm-8 col-md-7 col-lg-5">
			<input class="form-control" required id="startupapi-{{slug}}-email" name="email" type="email" value="{% if 'email' in data|keys %}{{ data.email }}{% else %}{{AUTH.current_user.email}}{% endif %}"/>
			{% if AUTH.current_user.email and not AUTH.current_user.is_email_verified %}
				<div class="has-warning">
					<p class="help-block">
						<span class="glyphicon glyphicon-warning-sign"></span>
						<a href="{{ UserConfig.USERSROOTURL }}/verify_email.php">
							Email address is not verified yet, click here to verify
						</a>
					</p>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-8 col-md-7 col-lg-5">
			<button class="btn btn-primary" type="submit" name="save">Save Changes</button>
		</div>
	</div>
	<input type="hidden" name="CSRF_NONCE" value="{{ AUTH.CSRF_NONCE }}"/>
</form>
