{% extends 'page.html.twig' %}
{% import 'error_messages.html.twig' as ERR %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="page-header">
			<h1>Log in</h1>
		</div>

		<p>Confirmation code was sent to {{email|default('your email address')}} please enter it below and click login button.</p>

		{{ ERR.showErrors('emaillogin', errors) }}

		<form class="form-horizontal" action="" method="GET">
			<fieldset>
				<legend>Enter confirmation code to login</legend>

				<div class="form-group{% if errors['emaillogin']['email'] %} has-error" title="{{errors['emaillogin']['email']|join('\n')}}{% endif %}">
					<label class="col-sm-1 control-label" for="startupapi-{{slug}}-email">Email</label>
					<div class="col-sm-8 col-md-7 col-lg-5">
						<input class="form-control" id="startupapi-{{slug}}-email" name="email" type="email" placeholder="john@example.com"{% if email %} value="{{email}}"{% endif %}/>
					</div>
				</div>

				<div class="form-group{% if errors['emaillogin']['code'] %} has-error" title="{{errors['emaillogin']['code']|join('\n')}}{% endif %}">
					<label class="col-sm-1 control-label" for="startupapi-{{slug}}-code">Code</label>
					<div class="col-sm-8 col-md-7 col-lg-5">
						<input class="form-control" id="startupapi-{{slug}}-code" name="code" type="text"{% if code %} value="{{code}}"{% endif %}/>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-8 col-md-7 col-lg-5">
						<button class="btn btn-primary" type="submit" name="login">Login</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}